@keyframes fade-and-grow {
  from {
    opacity: 0.7;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

.obs-ripple {
  animation: 1s forwards fade-and-grow;
  pointer-events: none;
}