@keyframes preloader-rotate {
  0% {
    transform: scale(0.8) rotate(0);
  }

  50% {
    transform: scale(1.8) rotate(180deg);
  }

  100% {
    transform: scale(0.8) rotate(360deg);
  }
}

.obs-preloader {
  animation: preloader-rotate 2s ease-in-out infinite;
}