**/node_modules
hls-fe/src/scripts
**/.idea
hls-fe/.env
hls-be/.env
**/README.md

hls-fe/.pnp
hls-fe/.pnp.js

hls-fe/coverage

hls-fe/build

hls-fe/.DS_Store
hls-fe/.env.local
hls-fe/.env.development.local
hls-fe/.env.test.local
hls-fe/.env.production.local

hls-fe/npm-debug.log*
hls-fe/yarn-debug.log*
hls-fe/yarn-error.log*

hls-be/media
hls-be/_temp_
hls-be/dev-static-server.js

proxy/
.proxy/