version: "3.8"

services:
  insight-database:
    container_name: insight-database
    image: postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
  insight-application:
    container_name: insight-application
    build:
      context: ./hls-be
    restart: unless-stopped
    env_file:
      - .env
    links:
      - insight-database
    depends_on:
      - insight-database
    volumes:
      - media-volume:/usr/src/insight-app/media:rw # Read + Write access
  insight-serve-static:
    # Nginx is here!
    container_name: insight-serve-static
    build:
      context: ./hls-fe
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "443:${EXTERNAL_HTTPS_PORT}"
      - "80:${EXTERNAL_HTTP_PORT}"
    volumes:
      - media-volume:/usr/share/nginx/media:ro # ReadOnly access
      - certbot-etc:/etc/letsencrypt:ro
      - certbot-var:/var/lib/letsencrypt:ro
      - certbot-acme:/var/www/certbot
      - nginx-templates:/etc/nginx/templates
  insight-certbot:
    image: certbot/certbot
    container_name: insight-certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - certbot-acme:/var/www/certbot
    depends_on:
      - insight-serve-static
    command: certonly --webroot --webroot-path=/var/www/certbot --email $${EMAIL_USER} --agree-tos --no-eff-email -d $${SRV_NAME} -d www.$${SRV_NAME}

volumes:
  media-volume:
  certbot-etc:
  certbot-var:
  certbot-acme:
  nginx-templates: