version: "3.8"

services:
  insight-database:
    container_name: insight-database
    image: postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
  insight-application:
    container_name: insight-application
    build:
      context: .
      dockerfile: Dockerfile.app
    restart: unless-stopped
    env_file:
      - .env
    links:
      - insight-database
    depends_on:
      - insight-database
    volumes:
      - application-media:/usr/src/insight-app/media:rw # Read + Write access
      - frontend-static:/usr/share/nginx/fe:rw
  insight-proxy:
    container_name: insight-proxy
    build:
      context: ./proxy
      args:
        SRV_NAME: "${SRV_NAME}"
    restart: always
    env_file:
      - .env
    ports:
      - "80:${EXTERNAL_HTTP_PORT}"
      - "443:${EXTERNAL_HTTPS_PORT}"
    volumes:
      - certbot-acme:/var/www/certbot:ro
      - certbot-etc:/etc/letsencrypt:rw
      - application-media:/usr/share/nginx/media:ro
      - frontend-static:/usr/share/nginx/fe:ro
    depends_on:
      - insight-application
  insight-certbot:
    container_name: insight-certbot
    image: certbot/certbot
    env_file:
      - .env
    volumes:
      - certbot-etc:/etc/letsencrypt:rw
      - certbot-acme:/var/www/certbot:rw
    depends_on:
      - insight-proxy
    command: certonly --webroot --webroot-path=/var/www/certbot --email="$EMAIL_USER" --agree-tos --no-eff-email -d "$SRV_NAME" -d www."$SRV_NAME"

volumes:
  frontend-static:
  application-media:
  certbot-etc:
  certbot-acme: