version: "3.8"

services:
  insight-database:
    container_name: insight-database
    image: postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
  insight-application:
    container_name: insight-application
    build:
      context: .
      dockerfile: Dockerfile.app
    restart: unless-stopped
    env_file:
      - .env
    links:
      - insight-database
    depends_on:
      - insight-database
    volumes:
      - application-media:/usr/src/insight-app/media:rw # Read + Write access
      - frontend-static:/usr/share/nginx/fe:rw
  insight-proxy:
    container_name: insight-proxy
    image: nginx
    restart: always
    env_file:
      - .env
    volumes:
      - application-media:/usr/share/nginx/media:ro
      - frontend-static:/usr/share/nginx/fe:ro
      - ./proxy/certbot/data:/usr/share/nginx/letsencrypt
      - ./proxy/nginx/templates:/etc/nginx/templates
      - ./proxy/dhparam:/etc/nginx/dhparam
      - ./proxy/certbot/conf/:/etc/nginx/ssl/
    ports:
      - "80:${EXTERNAL_HTTP_PORT}"
      - "443:${EXTERNAL_HTTPS_PORT}"
  certbot:
    container_name: insight-certbot
    image: certbot/certbot:latest
    env_file:
      - .env
    command: certonly --webroot --webroot-path=/usr/share/nginx/letsencrypt --staging --email="$EMAIL_USER" --agree-tos --no-eff-email -d "$SRV_NAME"
    volumes:
      - ./proxy/certbot/data:/usr/share/nginx/letsencrypt
      - ./proxy/certbot/conf/:/etc/letsencrypt
      - ./proxy/certbot/logs/:/var/log/letsencrypt
    depends_on:
      - insight-proxy

volumes:
  frontend-static:
  application-media: