version: "3.8"

services:
  hls-database:
    container_name: hls-database
    image: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
  hls-application:
    container_name: hls-application
    build:
      context: ./hls-be
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: always
    links:
      - hls-database
    depends_on:
      - hls-database
    volumes:
      - media-volume:/usr/src/hls-app/media
  hls-serve-static:
    container_name: hls-serve-static
    env_file:
      - .env
    build:
      context: ./hls-fe
    ports:
      - "80:${EXTERNAL_HTTP_PORT}"
      - "81:${EXTERNAL_HTTPS_PORT}"
    volumes:
      - media-volume:/usr/share/nginx/media

volumes:
  media-volume: