version: "3.8"

services:
  insight-database:
    container_name: insight-database
    image: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
  insight-application:
    container_name: insight-application
    build:
      context: ./hls-be
    env_file:
      - .env
    restart: always
    links:
      - insight-database
    depends_on:
      - insight-database
    volumes:
      - media-volume:/usr/src/insight-app/media:rw # Read + Write access
  insight-serve-static:
    # Nginx is here!
    container_name: insight-serve-static
    env_file:
      - .env
    build:
      context: ./hls-fe
    ports:
      - "443:${EXTERNAL_HTTPS_PORT}"
    volumes:
      - media-volume:/usr/share/nginx/media:ro # ReadOnly access
      - certbot-run:/var/www/certbot/:ro
      - certbot-result:/etc/nginx/ssl/:ro
  insight-certbot:
    container_name: insight-certbot
    image: certbot/certbot:v1.7.0
    volumes:
      - certbot-run:/var/www/certbot/:rw
      - certbot-result:/etc/letsencrypt/:rw

volumes:
  media-volume:
  certbot-run:
  certbot-result: