**/node_modules
**/.idea
**/.env
**/README.md

hls-fe/src/scripts
hls-fe/.pnp
hls-fe/.pnp.js
hls-fe/coverage
hls-fe/build
hls-fe/.DS_Store
hls-fe/npm-debug.log*
hls-fe/yarn-debug.log*
hls-fe/yarn-error.log*

hls-be/media
hls-be/_temp_
hls-be/dev-static-server.js