server {
  listen 80;
  # Also listen for IPv6 connections
  listen [::]:80;

  # Hide nginx data in headers and on error pages
  server_tokens off;

  server_name ${SRV_NAME} www.${SRV_NAME};

  location /.well-known/acme-challenge {
    default_type "text/plain";
    root /var/www/certbot;
  }

  location / {
    proxy_pass https://insight-https-proxy$request_uri;
  }
}
